<h1>Jobs</h1>

    <% if @current_user %>
        Welcome <%= link_to @current_user.full_name, user_path(@current_user) %>!
        
        <% if @current_user.saved_jobs.length > 0 %>
            <h3>Your Saved Jobs</h3>
        <% end %>
        <ul>
        <% @current_user.saved_jobs.each do |savedjob| %>
            <li>
                <%= link_to savedjob.job.title, job_path(savedjob.job) %>
                <%= button_to 'Delete', saved_job_path(savedjob), method: :delete %>
                <%= button_to 'Apply', saved_job_path(savedjob), method: :get %>
            </li>
        <% end %>
        </ul>

    <% else %>
        <%= link_to "Sign Up", new_user_path %>
        <%= link_to "Log In", new_login_path %>
    <% end %>
<form>
    <input type="text" name="keywords" placeholder="Keywords" />
    <input type="text" name="location" placeholder="Location" />
    <input type="number" name="radius" placeholder="Radius" />
    <input type="number" name="salary" placeholder="Salary($33500 - $200000)" />
    <button type="submit">Submit!</button>
</form>

<% if @results %>
<p>You searched "<%= @search_term %>"</p>
<p>There are <%= @results["totalCount"] %> total listings</p>
<ul>
        <% @results['jobs'].each do |job| %>
            <li>
                <%= job['title'] %> (<%= job['location']%>)
    
                <%= form_with url: jobs_path, method: :post do |f| %>
                  <%= f.hidden_field :title, value: job['title'] %>
                  <%= f.hidden_field :location, value: job['location'] %>
                  <%= f.hidden_field :snippet, value: job['snippet'] %>
                  <%= f.hidden_field :salary, value: job['salary'] %>
                  <%= f.hidden_field :source, value: job['source'] %>
                  <%= f.hidden_field :job_type, value: job['type'] %>
                  <%= f.hidden_field :link, value: job['link'] %>
                  <%= f.hidden_field :updated, value: job['updated'] %>
                  <%= f.hidden_field :jooble_id, value: job['id'] %>
                  <%= f.submit 'Save' %>
                <% end %>
            </li>
        <%end%>
</ul>

<% end %>