<h1>Jobs</h1>

    <% if @current_user %>
        Welcome <%= @current_user.full_name %>!
        <%= link_to "Log Out", logout_path, method: :delete %>
    <% else %>
        <%= link_to "Sign Up", new_user_path %>
        <%= link_to "Log In", new_login_path %>
    <% end %>

<ul>
<% @jobs.each do |job| %>
    <li><%= link_to job.title, job_path(job) %></li>
<% end %>
</ul>

<form>
    <input type="text" name="q" placeholder="search" value="<%= @seach_term%>" />
    <button type="submit">Submit!</button>
</form>

<% if @results %>
<p>You searched "<%= @search_term %>"</p>
<ul>
        <% @results['jobs'].each do |job| %>
            <li>
                <%= job['title'] %> (<%= job['location']%>)
                <%= form_with url: jobs_path, method: :post do |f| %>
                  <%= f.hidden_field :job_title, value: job['title'] %>
                  <%= f.hidden_field :location, value: job['location'] %>
                  <%= f.hidden_field :snippet, value: job['snippet'] %>
                  <%= f.hidden_field :salary, value: job['salary'] %>
                  <%= f.hidden_field :source, value: job['source'] %>
                  <%= f.hidden_field :type, value: job['type'] %>
                  <%= f.hidden_field :link, value: job['link'] %>
                  <%= f.hidden_field :updated, value: job['updated'] %>
                  <%= f.submit 'Save' %>
                <% end %>
            </li>
        <%end%>
</ul>

<% end %>