<h1>Jobs</h1>

<ul>
<% @jobs.each do |job| %>
    <li><%= link_to job.title, job_path(job) %></li>
<% end %>
</ul>

<form>
    <input type="text" name="q" placeholder="search" value="<%= @seach_term%>" />
    <button type="submit">Submit!</button>
</form>

<% if @results %>
<p>You searched "<%= @search_term %>"</p>
<ul>
        <% @results['jobs'].each do |job| %>
            <li>
                <%= job['title'] %> (<%= job['location']%>)
                <%= form_with url: jobs_path, method: :post do |f| %>
                  <%= f.hidden_field :job_id, value: job['id'] %>
                  <%= f.submit 'Save' %>
                <% end %>
            </li>
        <%end%>
</ul>
<% end %>

<pre><%= @results['jobs'].map %></pre>