<h1><%= @job.title %></h1>

<p><strong>Location: </strong><%= @job.location %></p>
<p><strong>Snippet: </strong><%= @job.snippet %></p>

<% if @job.salary.present? %>
    <p><strong>Salary: </strong><%= @job.salary %></p>
<% end %>

<% if @job.job_type.present? %>
    <p><strong>type: </strong><%= @job.job_type %></p>
<% end %>

<% if @job.source.present? %>
    <p><strong>Source: </strong><%= @job.source %> | <%= link_to "Link", @job.link %></p>
<% end %>


<%= link_to "Back", :back %><br>