<h1><%= @job.title %></h1>

<p><bold>Location: </bold><%= @job.location %></p>
<p><bold>Snippet: </bold><%= @job.snippet %></p>
<p><bold>Salary: </bold><%= @job.salary %></p>

<%= link_to "Back", :back %><br>