<h1>Sign Up!</h1>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p style="color:red;"><%= error %></p>
  <% end %>
<% end %>


<%= form_for @user do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field  :first_name %><br>

  <%= f.label :last_name %>
  <%= f.text_field  :last_name %><br>

  <%= f.label :username %>
  <%= f.text_field :username %><br>

  <%= f.label :email %>
  <%= f.text_field  :email %><br>

  <%= f.label :age %>
  <%= f.number_field  :age %><br>

  <%= f.label :address %>
  <%= f.text_field  :address %><br>

  <%= f.label :phone_number %>
  <%= f.text_field  :phone_number %><br>

  <%= f.label :password %>
  <%= f.password_field  :password %><br>

  <%= f.submit %>
<% end %>