<h1><%= @user.full_name %></h1>

<p> 
    <span class="profile_label"><strong>Username: </strong></span>
    <span class="profile_data"><%= @user.username %></span>
</p>

<p>
    <span class="profile_label"><strong>Email: </strong></span>
    <span class="profile_data"><%= @user.email %></span>
</p>
<p>
    <span class="profile_label"><strong>Age: </strong></span>
    <span class="profile_data"><%= @user.age %></span>
</p>
<p>
    <span class="profile_label"><strong>Address: </strong></span>
    <span class="profile_data"><%= @user.address %></span>
</p>
<p>
    <span class="profile_label"><strong>Phone: </strong></span>
    <span class="profile_data"><%= @user.phone_number %></span>
</p>

<hr class="dashed">

<h3>Past experience</h3>
<ul>
<% @user.resumes.each do |job| %>
    <li><strong><%= job.job_title %></strong>
        <ul>
            <li><%=job.description %></li>
            <li><%= job.reference %></li>
        </ul>
        <%= button_to 'Delete', resume_path(job), method: :delete %>    
    </li>
<% end %>
</ul>

<%= link_to "Edit Profile", edit_user_path(@user) %><br>

<%= link_to "Add more work experience", new_resume_path %>