<h1>Apply to <em><%= @saved_job.job.title %></em></h1>


<h3>Your Resume</h3>
<% @saved_job.user.resumes.each do |resume| %>
    
    <%= form_for resume do |f| %>
        <%= f.label :job_title %>
        <%= f.text_field :job_title %><br>
        
        <div class="resume_desc">
            <%= f.label :description %>
            <%= f.text_area :description %><br>
        </div>
        
        <%= f.label :reference %>
        <%= f.text_field :reference %><br>
        <hr class="dashed" align="left" width="400px"/>
    <% end %>
    
<% end %>

<p>Recipient email: <%= text_field_tag :email %></p>

<span class="resume_submit"><%= button_to 'Submit' %></span>