<h1>Add Work Experience</h1>

<%= form_for @resume do |f| %>
    
    <%= f.label :job_title %>
    <%= f.text_field :job_title %><br>
    
    <div id="resume_desc">
        <%= f.label :description %>
        <%= f.text_area :description %>
    </div>
    
    <%= f.label :reference %>
    <%= f.text_field :reference %><br>
    
    <%= f.submit %>
    
<% end %>